<div class="w-full h-full flex items-center justify-center">
    <div class="md:w-[900px] w-full mt-5 md:mt-20">
        <div class="flex gap-4 h-[180px]">
            <div class="h-full w-[180px] h-full bg-[#333] p-4 flex items-center justify-center rounded-full">
                <i class="fa-solid fa-user text-[102px]"></i>
            </div>
            <div class="flex items-end flex-col justify-center w-2/3">
                <h1 class="text-[70px] gradient-text font-semibold">Gokul A N</h1>
                <h3 class="text-[23px] font-medium">Software Engineer Intern</h3>
            </div>
        </div>
        <br>
        <br>
        <div class="w-full bg-[#111] p-4">
            <h2 class="text-[30px] font-semibold">About Me :</h2>
            <br>
            <p class="text-[17px] font-normal tracking-wide">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto est officiis labore. Fugit excepturi odio, vero minima distinctio iure minus optio culpa. Sunt, culpa ea. Molestiae commodi vero ullam totam esse. Odit repudiandae amet explicabo dolorem illo, vitae quibusdam iste omnis. Perferendis nemo sapiente error dicta! Aspernatur eveniet dolorem doloremque.</p>
        </div>
        <div>
            <h2 class="text-[30px] font-semibold mt-5 p-4">Skills :</h2>
            <ul class=" p-4 flex gap-5 flex-wrap">
                <li class="px-4 py-3 text-center text-[13px] md:text-[17px] text-center rounded-full bg-[#111] font-semibold">HTML5</li>
                <li class="px-4 py-3 text-center text-[13px] md:text-[17px] text-center rounded-full bg-[#111] font-semibold">CSS3</li>
                <li class="px-4 py-3 text-center text-[13px] md:text-[17px] text-center rounded-full bg-[#111] font-semibold">JAVASCRIPT</li>
                <li class="px-4 py-3 text-center text-[13px] md:text-[17px] text-center rounded-full bg-[#111] font-semibold">HTML5</li>
                <li class="px-4 py-3 text-center text-[13px] md:text-[17px] text-center rounded-full bg-[#111] font-semibold">CSS3</li>
                <li class="px-4 py-3 text-center text-[13px] md:text-[17px] text-center rounded-full bg-[#111] font-semibold">JAVASCRIPT</li>
                <li class="px-4 py-3 text-center text-[13px] md:text-[17px] text-center rounded-full bg-[#111] font-semibold">HTML5</li>
                <li class="px-4 py-3 text-center text-[13px] md:text-[17px] text-center rounded-full bg-[#111] font-semibold">CSS3</li>
                <li class="px-4 py-3 text-center text-[13px] md:text-[17px] text-center rounded-full bg-[#111] font-semibold">JAVASCRIPT</li>
                <li class="px-4 py-3 text-center text-[13px] md:text-[17px] text-center rounded-full bg-[#111] font-semibold">HTML5</li>
                <li class="px-4 py-3 text-center text-[13px] md:text-[17px] text-center rounded-full bg-[#111] font-semibold">CSS3</li>
                <li class="px-4 py-3 text-center text-[13px] md:text-[17px] text-center rounded-full bg-[#111] font-semibold">JAVASCRIPT</li>
                <li class="px-4 py-3 text-center text-[13px] md:text-[17px] text-center rounded-full bg-[#111] font-semibold">HTML5</li>
                <li class="px-4 py-3 text-center text-[13px] md:text-[17px] text-center rounded-full bg-[#111] font-semibold">CSS3</li>
                <li class="px-4 py-3 text-center text-[13px] md:text-[17px] text-center rounded-full bg-[#111] font-semibold">JAVASCRIPT</li>
                <a><li class="px-4 py-3 text-center text-[13px] md:text-[17px] text-center rounded-full bg-[#111] font-semibold"><i class="fa-solid fa-plus"></i></li></a>
            </ul>
        </div>
    </div>
</div>