<div class=" bg-[#222] p-5  flex flex-col gap-3 rounded-xs card">
    <div class="p-4 bg-[#111] rounded-sm flex justify-between items-center">
        <div class="flex flex-col">
            <h2 class="font-semibold text-[13px] md:text-[23px]">Create a Form</h2>
            <p class="text-[8px] md:text-[14px] font-light text-[#aaa]">2021-11-14</p>
        </div>
        <div>
            <button class="px-4 bg-[#13f287] text-[#000] font-semibold py-2 md:py-3 rounded-sm text-[10px] md:text-[17px]">Interested</button>
        </div>
    </div>
    <p class=" text-[10px] md:text-[17px] p-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi inventore asperiores excepturi repellendus dolorum iste quae minus! Tenetur temporibus obcaecati qui perferendis id adipisci debitis quod voluptate laborum. Placeat atque obcaecati quibusdam voluptatibus deleniti quasi animi ex dolorem. Sed fugiat ex, quo doloribus ut alias magnam saepe molestias quisquam nobis quis fugit necessitatibus, totam sequi aut tempora id vitae. Doloribus voluptatibus quis sit voluptate perferendis officia corrupti voluptatum voluptates nobis minus? A provident temporibus dolorem at rerum maxime quo voluptatem totam ab voluptatibus inventore delectus dolore ut vero ipsum eius cupiditate similique vitae praesentium fugit commodi corrupti quasi, numquam ullam?</p>
    <ul class=" p-4 flex gap-5 flex-wrap">
        <li class="px-4 py-3 text-center text-[13px] md:text-[17px] text-center rounded-full bg-[#111] font-semibold">HTML5</li>
        <li class="px-4 py-3 text-center text-[13px] md:text-[17px] text-center rounded-full bg-[#111] font-semibold">CSS3</li>
        <li class="px-4 py-3 text-center text-[13px] md:text-[17px] text-center rounded-full bg-[#111] font-semibold">JAVASCRIPT</li>
    </ul>
</div>